@font-face {
  font-family: 'Wendy-One';
  src: url('./assets/fonts/Wendy_One/WendyOne-Regular.ttf');
}

@font-face {
  font-family: 'Zalando-Sans';
  src: url('./assets/fonts/Zalando_Sans/ZalandoSans-VariableFont_wdth/,wght.ttf');
}


body {
  background-image: linear-gradient(165deg,white 17%, #7b9fc1 65%, #2d448e 90%);
  background-attachment: fixed;
  background-size: 100% 100%;
  background-size: cover;
}

.navbar {
  visibility: visible;
  display: contents;
  position: absolute;
  left: 0; 
  top: 0;
  padding: 0.5rem;
  z-index: 10;
}


.registerForm {
  display: flex;
  position: relative;
}

.form {
  left: 50%;
  display: flex;
  transform: translate(-50%, 2%);
  flex-direction: column;
  position: absolute;
  gap: 10px;
  background-color: #ffffff;
  padding: 40px;
  padding-top: 20px;
  min-width: 25.99rem;
  max-width: 30.99rem;
  border-radius: 20px;
  font-family: 'Zalando-Sans', sans-serif;
}

.first-para {
  font-size: 2rem;
  max-width: 25.75rem;
  color: #1C5182;
  margin-bottom: 1rem;
}

.first-para > h3 {
  font-family: 'Wendy-one', sans-serif;
  font-size: 48px;
  margin-top: 20px;
  margin-bottom: 0.5rem;
  color: #1C5182;
}

.first-para > p2 {
  font-size: 1.6rem;
  font-family: 'Zalando-Sans', sans-serif;
}

.form button {
  align-self: flex-end;
}

.flex-column{
  margin-top: 14px;
}

.flex-column > label {
  color: #1C5182;
  font-weight: 600;
}

.inputForm {
  border: 1px solid #4F5769;
  border-radius: 6px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-right: 10px;
  transition: 0.2s ease-in-out;
  max-width: 25.75rem;
}

.input {
  border:none;
  margin-left: 10px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-size: 16px;
}

.input:focus {
  outline: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  max-width: 25.99rem;
  justify-content: space-between;
}

.flex-row > div > label {
  font-size: 16px;
  color: black;
  font-weight: 400;
}

.button-submit {
  margin: 6% 0 0 0;
  background-color: #397cb0;
  border: none;
  color: white;
  font-size: 25px;
  border-radius: 42px;
  height: 60px;
  width: 100%;
  display: block;
  cursor: pointer;
  font-family: 'Wendy-one', sans-serif;
}

.button-submit:hover {
  background-color: #4f8cc6;
}


.btn:hover {
  border: 1px solid hsl(217, 89%, 56%);
}



.logo-mobile {
  max-width: 276px;
  margin: 0 auto; 
  display: block;
  position: relative;
  align-items: center;
}



@media only screen and (max-width: 601px) {
  .navbar {
  visibility: hidden;
   /* display: none; */
    
  }
  .logo-mobile {
  visibility: visible;
  display: contents;
  }
  .form {
  max-width: 20rem;
  min-width: 15rem;
  transform: translate(-50%, 2%);
  gap:4px;
  }
}

@media screen and (min-width: 601px) {
  .logo-mobile {
    display: none;
    visibility: hidden;
    max-width: 0;
    max-height: 0;
    }
  .navbar {
    visibility: visible;
   /* display: none; */
  }
  .form {
    top: 2%;
    max-width: 50rem;
  }
}

@media only screen and (max-width: 491px) {
  .navbar {
  visibility: hidden;
   /* display: none; */
  }
  .logo-mobile {
  visibility: visible;
  display: contents;
  }
  .form {
  display: flex ;
  max-width: 10rem;
  min-width: 15rem;
  max-height: 85rem;
  /* transform: translate(50%, 2%); */
  padding: 1.6rem;
  gap:4px;
  }
}